/*!
 * Bootstrap Popover Picker
 * https://itsjavi.com/bootstrap-popover-picker/
 *
 * Originally written by (c) 2016 Javi Aguilar
 * Licensed under the MIT License
 * https://github.com/itsjavi/bootstrap-popover-picker/blob/master/LICENSE
 *
 */
.picker-container {
  position: relative;
}
.picker-launcher {
  height: 49px;
  width: 49px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  padding: 14px;
  box-sizing: border-box;
  text-align: center;
}
.picker-popover.popover {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  max-width: none;
  padding: 1px;
  text-align: left;
  width: 270px;
  background: #f7f7f7;
  z-index: 9;
}
.picker-popover.popover.top,
.picker-popover.popover.topLeftCorner,
.picker-popover.popover.topLeft,
.picker-popover.popover.topRight,
.picker-popover.popover.topRightCorner {
  margin-top: -10px;
}
.picker-popover.popover.right,
.picker-popover.popover.rightTop,
.picker-popover.popover.rightBottom {
  margin-left: 10px;
}
.picker-popover.popover.bottom,
.picker-popover.popover.bottomRightCorner,
.picker-popover.popover.bottomRight,
.picker-popover.popover.bottomLeft,
.picker-popover.popover.bottomLeftCorner {
  margin-top: 10px;
}
.picker-popover.popover.left,
.picker-popover.popover.leftBottom,
.picker-popover.popover.leftTop {
  margin-left: -10px;
}
.picker-popover.popover.inline {
  margin: 14px 0;
  position: relative;
  display: inline-block;
  opacity: 1;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  max-width: 100%;
  box-shadow: none;
  z-index: auto;
  vertical-align: middle;
}
.picker-popover.popover.inline > .arrow {
  display: none;
}
.dropdown-menu .picker-popover.inline {
  margin: 0;
  border: none;
}
.dropdown-menu.picker-container {
  padding: 0;
}
.picker-popover.popover .popover-title {
  padding: 14px;
  font-size: 17.5px;
  line-height: 19.5px;
  border-bottom: 1px solid #ebebeb;
  background-color: #f7f7f7;
}
.picker-popover.popover .popover-title input[type=search].iconpicker-search {
  margin: 0 0 2px 0;
}
.picker-popover.popover .popover-title-text ~ input[type=search].picker-search {
  margin-top: 14px;
}
.picker-popover.popover .popover-content {
  padding: 0px;
  text-align: center;
}
.picker-popover .popover-footer {
  float: none;
  clear: both;
  padding: 14px;
  text-align: right;
  margin: 0;
  border-top: 1px solid #ebebeb;
  background-color: #f7f7f7;
}
.picker-popover .popover-footer:before,
.picker-popover .popover-footer:after {
  content: " ";
  display: table;
}
.picker-popover .popover-footer:after {
  clear: both;
}
.picker-popover .popover-footer .picker-btn {
  margin-left: 10px;
}
.picker-popover .popover-footer input[type=search].picker-search {
  /*width:auto;
        float:left;*/
  margin-bottom: 14px;
}
.picker-popover.popover > .arrow,
.picker-popover.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.picker-popover.popover > .arrow {
  border-width: 11px;
}
.picker-popover.popover > .arrow:after {
  border-width: 10px;
  content: "";
}
.picker-popover.popover.top > .arrow,
.picker-popover.popover.topLeft > .arrow,
.picker-popover.popover.topRight > .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999999;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
}
.picker-popover.popover.top > .arrow:after,
.picker-popover.popover.topLeft > .arrow:after,
.picker-popover.popover.topRight > .arrow:after {
  content: " ";
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #ffffff;
}
.picker-popover.popover.topLeft > .arrow {
  left: 14px;
  margin-left: 0;
}
.picker-popover.popover.topRight > .arrow {
  left: auto;
  right: 14px;
  margin-left: 0;
}
.picker-popover.popover.right > .arrow,
.picker-popover.popover.rightTop > .arrow,
.picker-popover.popover.rightBottom > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999999;
  border-right-color: rgba(0, 0, 0, 0.25);
}
.picker-popover.popover.right > .arrow:after,
.picker-popover.popover.rightTop > .arrow:after,
.picker-popover.popover.rightBottom > .arrow:after {
  content: " ";
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #ffffff;
}
.picker-popover.popover.rightTop > .arrow {
  top: auto;
  bottom: 14px;
  margin-top: 0;
}
.picker-popover.popover.rightBottom > .arrow {
  top: 14px;
  margin-top: 0;
}
.picker-popover.popover.bottom > .arrow,
.picker-popover.popover.bottomRight > .arrow,
.picker-popover.popover.bottomLeft > .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px;
}
.picker-popover.popover.bottom > .arrow:after,
.picker-popover.popover.bottomRight > .arrow:after,
.picker-popover.popover.bottomLeft > .arrow:after {
  content: " ";
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #ffffff;
}
.picker-popover.popover.bottomLeft > .arrow {
  left: 14px;
  margin-left: 0;
}
.picker-popover.popover.bottomRight > .arrow {
  left: auto;
  right: 14px;
  margin-left: 0;
}
.picker-popover.popover.left > .arrow,
.picker-popover.popover.leftBottom > .arrow,
.picker-popover.popover.leftTop > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999999;
  border-left-color: rgba(0, 0, 0, 0.25);
}
.picker-popover.popover.left > .arrow:after,
.picker-popover.popover.leftBottom > .arrow:after,
.picker-popover.popover.leftTop > .arrow:after {
  content: " ";
  right: 1px;
  border-right-width: 0;
  border-left-color: #ffffff;
  bottom: -10px;
}
.picker-popover.popover.leftBottom > .arrow {
  top: 14px;
  margin-top: 0;
}
.picker-popover.popover.leftTop > .arrow {
  top: auto;
  bottom: 14px;
  margin-top: 0;
}

.picker-item-value {
  display: none;
}
.picker-item-name {
  display: none;
}

.picker {
  position: relative;
  text-align: left;
  text-shadow: none;
  line-height: 0;
  display: block;
  margin: 0;
  overflow: hidden;
}
.picker * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: relative;
}
.picker:before,
.picker:after {
  content: " ";
  display: table;
}
.picker:after {
  clear: both;
}
.picker .picker-items {
  position: relative;
  clear: both;
  float: none;
  padding: 14px 0 0 14px;
  background: #fff;
  margin: 0;
  overflow: hidden;
  overflow-y: auto;
  min-height: 62px;
  max-height: 310px;
}
.picker .picker-items:before,
.picker .picker-items:after {
  content: " ";
  display: table;
}
.picker .picker-items:after {
  clear: both;
}
.picker .picker-item {
  float: left;
  width: 21px;
  height: 21px;
  padding: 14px;
  margin: 0 14px 14px 0;
  text-align: center;
  cursor: pointer;
  border-radius: 3px;
  font-size: 21px;
  box-shadow: 0 0 0 1px #dddddd;
  /*&:nth-child(4n+4) {
            margin-right: 0;
        }
        &:nth-last-child(-n+4) {
            margin-bottom: 0;
        }*/
}
.picker .picker-item:hover:not(.picker-selected) {
  background-color: #eeeeee;
}
.picker .picker-item.picker-selected {
  box-shadow: none;
}
.picker .picker-item i {
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}
.picker-component {
  cursor: pointer;
}
.picker-item img,
.picker-component img {
  height: 25px;
  width: auto;
  max-width: 25px;
}

.picker-item--selected {
  background-color: #f8f8f8;
}
